.calculator {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5e7e7c0;
}

#display {
    width: 95%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: right;
    padding: 5px;
    border: 1px solid #ebe2e2;
    border-radius: 3px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: #e6dbdb;
}

button:hover {
    background-color: #28d831;
}
body {
    background-color: #14c7a0;
    font-family: Arial, sans-serif;
}
